@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Oswald:wght@400;500;700&family=Raleway:wght@600;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #101010;
}

::-webkit-scrollbar-thumb {
    background: #930000;
    background: linear-gradient(to bottom, #101010 0%, #930000 25%, #930000 50%, #930000 76%, #101010 100%);
}

.janela {
    display: flex;
    width: 100%;
}

.nav-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 18%;
    background-color: black;
    padding: 15px;
}

.nav-lateral img {
    width: 80px;
    height: 100px;
}

.nav-lateral h1,
h3 {
    color: white;
    text-align: center;
    text-shadow: -2px -2px 4px #b80000, 2px -2px 4px #0309c4;
}

.itens-nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}

.itens-nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.itens-nav .pag-atual {
    text-align: center;
    width: 100px;
    padding: 5px;
    border-bottom: 1px red solid;
    border-radius: 15px;
    transition: 0.5s;
}

.itens-nav .pag-atual:hover {
    border-bottom: 1px white solid;
    transition: 0.5s;
}

.sair {
    margin-top: 30%;
}

.nav-lateral button {
    padding: 10px;
    width: 100px;
    border: 2px red solid;
    color: red;
    background: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
}

.nav-lateral button:hover {
    font-weight: bold;
    width: 150px;
    transition: 0.5s;
}

.personagem-favorito {
    width: 80%;
    position: relative;
    top: 0;
    left: 20%;
    background-color: #101010;
    height: 100vh;
    overflow: auto;
}

.titulo-personagem {
    border: 1px rgb(147, 147, 147) solid;
    border-left: none;
    border-right: none;
    border-radius: 20px 20px 60px 60px;
    margin: 15px;
    text-shadow: -2px -2px 4px #b80000, 2px -2px 4px #0309c4;
}

.titulo-personagem h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.subtitulo {
    text-align: center;
}

.subtitulo h1 {
    color: white;
    text-shadow: -2px -2px 4px #b80000, 2px -2px 4px #0309c4;
}

.personagens {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.imagem-personagem {
    display: flex;
    flex-direction: column;
}

.curtir-personagem {
    display: flex;
    justify-content: space-between;
}

.curtir-personagem div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curtir-personagem div button {
    background: none;
    border: none;
    width: 100px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.curtir-personagem div button:hover {
    background-color: rgba(76, 76, 76, 0.074);
    transition: 0.5s;
}

.imagem {
    height: 250px;
}

.icone-curtida {
    margin: 20px 0px;
    height: 50px;
    width: 50px;
}

.btn-personagem {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-personagem button {
    padding: 10px;
    width: 150px;
    color: black;
    background-color: white;
    border: 2px white solid;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}

.btn-personagem button:hover {
    background: none;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.div-results {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-results .feed-container {
    width: 80%;
    background-color: #212124;
    border-radius: 5px;
    margin-bottom: 80px;
}

.publicacao{
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: white;
    font-size: 20px;
}

.publicacao-imagem img{
    border-radius: 100%;
    height: 100px;
}

