@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Oswald:wght@400;500;700&family=Raleway:wght@600;800&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.411);
}

ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

ul img{
    width: 65px;
    height: 75px;
}

li, a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
    display: flex;
}

.home{
    background-image: url(./../img/Fundos/fundo-home2.jpg);
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100%;
}

.home .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home h1{
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-shadow:-4px -2px 4px #b80000,4px -2px 4px #0309c4;
}

.container{
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
}

#sobre{
    display: flex;
    justify-content: space-between;
}

.texto-sobre{
    width: 50%;
    padding: 45px;
}

.texto-sobre h1{
    color: white;
    font-size: 55px;
    text-shadow:-2px -2px 4px #b80000,2px -2px 4px #0309c4;
}

.texto-sobre p{
    color: white;
    font-weight: 400;
    font-size: 25px;
}

.uniforme{
    display: flex;
    align-items: center;
    width: 35%;
    padding: 45px;
}

.img-sobre{
    width: 100%;
    height: 100%;
    background-image: url(./../img/uniforme/uniforme-semfundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.img-sobre:hover{
    background-image: url(./../img/uniforme/sense-semfundo.png);
}

#personagens{
    /* background-image: url(./img/fundo-home1.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
}

.personagens{
    padding: 45px;
}

.sobre-personagem{
    display: flex;
    height: 400px;
    justify-content: space-between;
    padding: 55px;
    gap: 10vh;
}

.personagens h1{
    color: white;
    font-size: 55px;
    text-align: center;
    text-shadow:-2px -2px 4px #b80000,2px -2px 4px #0309c4;
}

.sobre-personagem div h1{
    font-size: 45px;
}

.sobre-personagem img{
    width: auto;
    height: 350px;
   transition: 1s ease;
}

.sobre-personagem img:hover{
    transform: scale(1.2);
}

.sobre-personagem p{
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    text-align: end;
    font-weight: 400;
}

.opcoes-personagem{
    display: flex;
    justify-content: center;
}

.opcoes-personagem div{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.opcoes-personagem button, .opcoes-personagem img{
    border-radius: 100px;
    cursor: pointer;
}

.opcoes-personagem img{
    width: 100px;
    height: 100px;
}

#trilha-sonora{
    display: flex;
    background-image: url(./../img/fundos/fundo-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.musica{
    display: flex;
    flex-direction: column;
    padding: 45px;
    width: 40%;
}

.musica h1{
    color: white;
    font-size: 55px;
    text-shadow:-2px -2px 4px #b80000,2px -2px 4px #0309c4;
}

.musica img{
    border-radius: 15px;
}

.sobre-musica{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 45px;
}

.sobre-musica p{
    color: white;
    font-size: 22px;
    text-align: end;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.478);
    padding: 25px;
    border-radius: 15px;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
}

footer p{
    color: white;
    text-align: center;
    text-shadow:-1px -1px 1px #b80000,1px -1px 1px #0309c4;

}